# ##############################################################################

# iCEcube PCF

# Version:            2017.08.27940

# File Generated:     Jan 1 2021 20:21:58

# Family & Device:    iCE40HX4K

# Package:            TQ144

# ##############################################################################

###IOSet List 18
set_io clock_in 94
set_io countUp_in 104
set_io counterEnable_in 129
set_io d_in[0] 31
set_io d_in[1] 32
set_io d_in[2] 33
set_io enableReference_out 4
set_io load_in 105
set_io outEnable_in 107
set_io reset_in 106
set_io seg7_out[0] 99
set_io seg7_out[1] 98
set_io seg7_out[2] 97
set_io seg7_out[3] 96
set_io seg7_out[4] 95
set_io seg7_out[5] 85
set_io seg7_out[6] 84
set_io terminalCount_out 1

